<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=1367">
  <title>Point Of Sale</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
    rel="stylesheet">

  <!-- icons -->
  <link href="/static/assets/icons.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/alpine.min.js" defer></script>
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/script.js" defer></script>
</head>

<body class="bg-pos_bla h-screen flex items-center justify-center">
  <div class="relative w-screen aspect-[16/10] items-start justify-between gap-0 bg-pos_whi">
    <header class="w-[15%] h-full flex-col items-start justify-start p-5 border-r border-r-pos_cld/25 bg-pos_col">
      <div class="w-full flex-col gap-7">
        <h1 id="logo" class="text-2xl text-pos_whi font-black">ExpressPOS</h1>

        <nav class="w-full flex-col items-start justify-start gap-9">
          <div class="w-full flex-col items-start justify-start gap-3.5">
            <h3 class="text-xl text-pos_whi font-black">Main Menu</h3>
            <div class="w-full flex-col items-start justify-start gap-2 pl-2.5">
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65">
                <i class="ph ph-presentation text-xl"></i>
                <span>Dashboard</span>
              </button>
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65"
                hx-get="/orders" hx-trigger="click" hx-target="html" hx-swap="outerHtml">
                <i class="ph ph-book-open-text text-xl"></i>
                <span>Orders</span>
              </button>
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65">
                <i class="ph ph-picnic-table text-xl"></i>
                <span>Tables</span>
              </button>
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65">
                <i class="ph ph-bookmarks text-xl"></i>
                <span>Waitlist</span>
              </button>
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65">
                <i class="ph ph-chair text-xl"></i>
                <span>Reservations</span>
              </button>
            </div>
          </div>
          <div class="w-full flex-col items-start justify-start gap-3.5">
            <h3 class="text-xl text-pos_whi font-semibold">Company</h3>
            <div class="w-full flex-col items-start justify-start gap-2 pl-2.5">
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65">
                <i class="ph ph-projector-screen-chart text-xl"></i>
                <span>Analytics</span>
              </button>
              <button class="w-full flex items-end justify-start gap-2 text-base text-pos_whi hover:opacity-65">
                <i class="ph ph-storefront text-xl"></i>
                <span>Manage</span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </header>
