<tr class="even:bg-pos_lgh/15">
  <td class="px-4 py-2 text-left text-base scolor font-black">{{ .Name }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-medium">{{ .DateTime }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .CustName }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .CustNumber }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .Destination }}</td>
  <td class="px-4 py-2 text-left text-sm scolor font-medium uppercase">{{ .Type }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-normal">{{ .Items }}</td>
  <td class="px-4 py-2 text-left text-sm scolor font-medium uppercase status">{{ .Status }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .Cost }}</td>
</tr>
