<div id="tables" class="w-full grid grid-cols-3 grid-row-auto gap-5">
  <div class="table w-full flex-col items-center justify-between p-2.5">
    <div class="w-full flex-col items-center justify-center gap-1.5">
      <h3 class="text-5xl text-center scolor font-bold">{{ .Name }}</h3>
      <div class="w-full items-center justify-center gap-1.5 font-bold">
        <p class="text-xl text-pos_bla">Cap: {{ .Capacity }}</p>
        <p class="state text-lg scolor">State: {{ .State }}</p>
        <p class="text-lg text-pos_bla">Cur Order: {{ .OrderCurr }}</p>
      </div>
    </div>
    <div class="w-full flex-col items-center justify-between py-3.5 px-3.5 gap-3.5">
      <div class="w-full items-center justify-around">
        <span class="chair w-[25%] aspect-square grid grid-cols-2 grid-rows-2 p-3.5 gap-5 rounded-lg bg-pos_col/65">
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
        </span>
        <span class="chair w-[25%] aspect-square grid grid-cols-2 grid-rows-2 p-3.5 gap-5 rounded-lg bg-pos_col/65">
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
        </span>
        <span class="chair w-[25%] aspect-square grid grid-cols-2 grid-rows-2 p-3.5 gap-5 rounded-lg bg-pos_col/65">
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
        </span>
      </div>

      <div class="w-full items-center justify-center">
        <span class="w-full aspect-video rounded-xl border-8 border-pos_col/35 bg-pos_col/65"></span>
      </div>

      <div class="w-full items-center justify-around">
        <span class="chair w-[25%] aspect-square grid grid-cols-2 grid-rows-2 p-3.5 gap-5 rounded-lg bg-pos_col/65">
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
        </span>
        <span class="chair w-[25%] aspect-square grid grid-cols-2 grid-rows-2 p-3.5 gap-5 rounded-lg bg-pos_col/65">
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
        </span>
        <span class="chair w-[25%] aspect-square grid grid-cols-2 grid-rows-2 p-3.5 gap-5 rounded-lg bg-pos_col/65">
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
          <span class="w-full aspect-square rounded-xl bg-pos_col/35"></span>
        </span>
      </div>
    </div>
  </div>
</div>
