{{ template "partials/head" .}}

<main class="w-[60%] h-full flex-col items-center justify-start p-5 pt-20 pb-11 gap-5 overflow-y-scroll bg-pos_bla/10">
  <div id="orders-card" class="w-full flex-col items-stretch justify-start gap-2.5">
    <section class="w-full items-center justify-between">
      <h3 class="text-2xl text-pos_bla font-black">Current Orders</h3>
      <button class="text-pos_col font-medium underline">See all orders</button>
    </section>
    <section
      class="w-full grid grid-flow-col justify-start p-5 gap-3.5 border-2 border-pos_lgh/15 rounded-3xl snap-mandatory snap-x scroll-pl-5 bg-pos_whi overflow-x-scroll">
      {{ range .orders }}
      {{ template "partials/order_card" .}}
      {{ end }}
    </section>
  </div>

  <div id="products-card" class="w-full max-h-[55%] flex-col items-start justify-start gap-2.5">
    <div class="w-full items-center justify-between">
      <h3 class="text-2xl text-pos_bla font-black">Meals List</h3>
      <button class="text-pos_col font-medium underline">See all products</button>
    </div>
    <div class="w-full max-h-[100%] flex-col items-start justify-start gap-2.5">
      <section class="w-full grid grid-flow-col gap-2 justify-start overflow-x-scroll"></section>
      <section class="w-full grid grid-cols-2 justify-start gap-3 snap-mandatory snap-y scroll-pb-9 overflow-y-scroll">
        <div
          class="w-full aspect-[16/10] items-center justify-center border-2 border-pos_lgh/10 rounded-2xl overflow-clip bg-pos_whi">
          <div class="w-4/5 flex-col items-center justify-center gap-1.5 p-3">
            <img src="../imgs/lw-chicken.jpeg" alt="product image" select="none"
              class="w-full aspect-square object-center object-cover rounded-lg">
            <div class="w-full flex-col gap-0">
              <p class="text-lg text-pos_col font-black"><sup class="text-xs">Ugx</sup> 25,000 <span
                  class="text-base text-pos_lgh font-semibold"><br>/ Meal</span></p>
            </div>
          </div>
          <div class="w-full h-full flex-col items-start justify-between gap-1.5 p-3">
            <h4 class="text-lg text-pos_bla font-black">Luwombo Chicken</h4>
            <p class="text-sm text-pos_lgh font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis dolorem optio illo placeat.</p>
            <div class="text-3xl w-full flex items-center justify-between p-1 rounded-full bg-gray-100">
              <button class="w-10 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">0</span>
              <button class="w-10 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div
          class="w-full aspect-[16/10] items-center justify-center border-2 border-pos_lgh/10 rounded-2xl overflow-clip bg-pos_whi">
          <div class="w-4/5 flex-col items-center justify-center gap-1.5 p-3">
            <img src="../imgs/ff-rolex.jpeg" alt="product image" select="none"
              class="w-full aspect-square object-center object-cover rounded-lg">
            <div class="w-full flex-col gap-0">
              <p class="text-lg text-pos_col font-black"><sup class="text-xs">Ugx</sup> 5,000 <span
                  class="text-base text-pos_lgh font-semibold"><br>/ Meal</span></p>
            </div>
          </div>
          <div class="w-full h-full flex-col items-start justify-between gap-1.5 p-3">
            <h4 class="text-lg text-pos_bla font-black">Spicy Rolex</h4>
            <p class="text-sm text-pos_lgh font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis dolorem optio illo placeat.</p>
            <div class="text-3xl w-full flex items-center justify-between p-1 rounded-full bg-gray-100">
              <button class="w-10 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">0</span>
              <button class="w-10 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div
          class="w-full aspect-[16/10] items-center justify-center border-2 border-pos_lgh/10 rounded-2xl overflow-clip bg-pos_whi">
          <div class="w-4/5 flex-col items-center justify-center gap-1.5 p-3">
            <img src="../imgs/juice-pineapple.jpg" alt="product image" select="none"
              class="w-full aspect-square object-center object-cover rounded-lg">
            <div class="w-full flex-col gap-0">
              <p class="text-lg text-pos_col font-black"><sup class="text-xs">Ugx</sup> 7,000 <span
                  class="text-base text-pos_lgh font-semibold"><br>/ Litre</span></p>
            </div>
          </div>
          <div class="w-full h-full flex-col items-start justify-between gap-1.5 p-3">
            <h4 class="text-lg text-pos_bla font-black">Pineapple Juice</h4>
            <p class="text-sm text-pos_lgh font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis dolorem optio illo placeat.</p>
            <div class="text-3xl w-full flex items-center justify-between p-1 rounded-full bg-gray-100">
              <button class="w-10 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">0</span>
              <button class="w-10 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div
          class="w-full aspect-[16/10] items-center justify-center border-2 border-pos_lgh/10 rounded-2xl overflow-clip bg-pos_whi">
          <div class="w-4/5 flex-col items-center justify-center gap-1.5 p-3">
            <img src="../imgs/fr-fruit_salad.jpg" alt="product image" select="none"
              class="w-full aspect-square object-center object-cover rounded-lg">
            <div class="w-full flex-col gap-0">
              <p class="text-lg text-pos_col font-black"><sup class="text-xs">Ugx</sup> 20,000 <span
                  class="text-base text-pos_lgh font-semibold"><br>/ Tray</span></p>
            </div>
          </div>
          <div class="w-full h-full flex-col items-start justify-between gap-1.5 p-3">
            <h4 class="text-lg text-pos_bla font-black">Tropical Fruits</h4>
            <p class="text-sm text-pos_lgh font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis dolorem optio illo placeat.</p>
            <div class="text-3xl w-full flex items-center justify-between p-1 rounded-full bg-gray-100">
              <button class="w-10 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">0</span>
              <button class="w-10 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div
          class="w-full aspect-[16/10] items-center justify-center border-2 border-pos_lgh/10 rounded-2xl overflow-clip bg-pos_whi">
          <div class="w-4/5 flex-col items-center justify-center gap-1.5 p-3">
            <img src="../imgs/st-pilau.jpeg" alt="product image" select="none"
              class="w-full aspect-square object-center object-cover rounded-lg">
            <div class="w-full flex-col gap-0">
              <p class="text-lg text-pos_col font-black"><sup class="text-xs">Ugx</sup> 15,000 <span
                  class="text-base text-pos_lgh font-semibold"><br>/ Meal</span></p>
            </div>
          </div>
          <div class="w-full h-full flex-col items-start justify-between gap-1.5 p-3">
            <h4 class="text-lg text-pos_bla font-black">Pilau & Goat</h4>
            <p class="text-sm text-pos_lgh font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis dolorem optio illo placeat.</p>
            <div class="text-3xl w-full flex items-center justify-between p-1 rounded-full bg-gray-100">
              <button class="w-10 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">0</span>
              <button class="w-10 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div
          class="w-full aspect-[16/10] items-center justify-center border-2 border-pos_lgh/10 rounded-2xl overflow-clip bg-pos_whi">
          <div class="w-4/5 flex-col items-center justify-center gap-1.5 p-3">
            <img src="../imgs/st-matooke.jpeg" alt="product image" select="none"
              class="w-full aspect-square object-center object-cover rounded-lg">
            <div class="w-full flex-col gap-0">
              <p class="text-lg text-pos_col font-black"><sup class="text-xs">Ugx</sup> 7,000 <span
                  class="text-base text-pos_lgh font-semibold"><br>/ Meal</span></p>
            </div>
          </div>
          <div class="w-full h-full flex-col items-start justify-between gap-1.5 p-3">
            <h4 class="text-lg text-pos_bla font-black">Steamed Matooke</h4>
            <p class="text-sm text-pos_lgh font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis dolorem optio illo placeat.</p>
            <div class="text-3xl w-full flex items-center justify-between p-1 rounded-full bg-gray-100">
              <button class="w-10 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">0</span>
              <button class="w-10 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<aside class="w-[25%] h-full flex-col items-start justify-start p-5 border-l-2 border-l-pos_lgh/25">
  <section class="w-full h-full flex-col items-start justify-between">
    <div class="w-full h-full flex-col items-start justify-start gap-3.5">
      <h4 class="text-xl text-pos_bla font-bold">Order Details</h4>

      <div class="w-full items-center justify-between">
        <h3 class="text-2xl text-pos_bla font-black">#ORD0023</h3>
        <h5 class="text-base text-pos_rdy font-medium px-5 py-3 rounded-xl border-2 border-pos_rdy bg-pos_whi">Order
          Ready</h5>
      </div>

      <div
        class="w-full h-fit max-h-[67%] flex-col items-start justify-start gap-1.5 p-3 overflow-y-scroll scroll-py-3.5 rounded-2xl border-2 border-pos_lgh/15 bg-pos_lgh/15">
        <div class="w-full items-center justify-start gap-5 rounded-lg bg-pos_lgh/10">
          <img src="../imgs/st-matooke.jpeg" alt="" class="w-20 aspect-square object-center object-cover rounded-md">
          <div class="w-[100%] flex-col items-end justify-between gap-0">
            <h5 class="text-lg text-pos_bla font-bold">Steamed Matooke</h5>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              7,000</p>
            <div class="text-xl w-2/3 flex items-center justify-between p-1 rounded-full bg-pos_lgh/10 gap-1.5">
              <button class="w-7 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">1</span>
              <button class="w-7 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div class="w-full items-center justify-start gap-5 rounded-lg bg-pos_lgh/10">
          <img src="../imgs/juice-mango.jpg" alt="" class="w-20 aspect-square object-center object-cover rounded-md">
          <div class="w-[100%] flex-col items-end justify-between gap-0">
            <h5 class="text-lg text-pos_bla font-bold">Mango Juice</h5>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              7,000</p>
            <div class="text-xl w-2/3 flex items-center justify-between p-1 rounded-full bg-pos_lgh/10 gap-1.5">
              <button class="w-7 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">2</span>
              <button class="w-7 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div class="w-full items-center justify-start gap-5 rounded-lg bg-pos_lgh/10">
          <img src="../imgs/st-fish.jpeg" alt="" class="w-20 aspect-square object-center object-cover rounded-md">
          <div class="w-[100%] flex-col items-end justify-between gap-0">
            <h5 class="text-lg text-pos_bla font-bold">Deep Fried Fish</h5>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              50,000</p>
            <div class="text-xl w-2/3 flex items-center justify-between p-1 rounded-full bg-pos_lgh/10 gap-1.5">
              <button class="w-7 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">1</span>
              <button class="w-7 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div class="w-full items-center justify-start gap-5 rounded-lg bg-pos_lgh/10">
          <img src="../imgs/fr-salads.jpg" alt="" class="w-20 aspect-square object-center object-cover rounded-md">
          <div class="w-[100%] flex-col items-end justify-between gap-0">
            <h5 class="text-lg text-pos_bla font-bold">Kachumbali</h5>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              9,000</p>
            <div class="text-xl w-2/3 flex items-center justify-between p-1 rounded-full bg-pos_lgh/10 gap-1.5">
              <button class="w-7 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">2</span>
              <button class="w-7 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
        <div class="w-full items-center justify-start gap-5 rounded-lg bg-pos_lgh/10">
          <img src="../imgs/lw-chicken.jpeg" alt="" class="w-20 aspect-square object-center object-cover rounded-md">
          <div class="w-[100%] flex-col items-end justify-between gap-0">
            <h5 class="text-lg text-pos_bla font-bold">Luwombo Chicken</h5>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              25,000</p>
            <div class="text-xl w-2/3 flex items-center justify-between p-1 rounded-full bg-pos_lgh/10 gap-1.5">
              <button class="w-7 aspect-square rounded-full text-pos_col bg-pos_whi">-</button>
              <span class="text-pos_bla text-base font-medium">1</span>
              <button class="w-7 aspect-square rounded-full text-pos_whi bg-pos_col">+</button>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex-col items-start justify-start gap-5">
        <div class="w-full flex-col items-stretch justify-start gap-0">
          <div class="text-pos_lgh w-full items-center justify-between">
            <p class="text-base">Subtotal</p>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              114,000</p>
          </div>
          <div class="text-pos_lgh w-full items-center justify-between">
            <p class="text-base">Transit fee</p>
            <p class="text-lg text-pos_bla font-semibold"><sup class="text-xs text-pos_lgh">Ugx</sup>
              3,000</p>
          </div>
          <span class="w-full h-0.5 bg-pos_lgh"></span>
          <div class="w-full grid grid-cols-3 items-center justify-between gap-5 p-3 mt-3">
            <button class="w-full aspect-[4/3] flex items-center justify-center bg-gray-100 rounded-xl">
              <i class="ph ph-wallet-02 text-3xl text-pos_bla"></i>
            </button>
            <button class="w-full aspect-[4/3] flex items-center justify-center bg-pos_col rounded-xl">
              <i class="ph ph-bitcoin-smartphone-02 text-3xl text-pos_whi"></i>
            </button>
            <button class="w-full aspect-[4/3] flex items-center justify-center bg-gray-100 rounded-xl">
              <i class="ph ph-credit-card-pos text-3xl text-pos_bla"></i>
            </button>
          </div>
          <button class="w-full flex items-center justify-center py-3 text-pos_whi rounded-xl bg-pos_col">Proceed
            to
            payment</button>
        </div>
      </div>
    </div>
  </section>
</aside>

{{ template "partials/foot" .}}
