<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Point Of Sale</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
  <!-- <link href="/static/assets/regular.css" rel="stylesheet"> -->
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/alpine.min.js" defer></script>
  <script src="/static/js/htmx.min.js" defer></script>
</head>

<body>
  <h1 class="flex items-center justify-start gap-2.5 text-2xl text-cs_color font-bold">
    POS Dashboard Test
    <span class="hgi hgi-stroke hgi-shopping-basket-03"></span>
  </h1>

  <form hx-post="/users" hx-target="#users" hx-swap="beforeend" class="mb-3 space-y-2">
    <input type="text" name="name" placeholder="Enter name" class="border px-5 py-3 rounded-md">
    <input type="email" name="email" placeholder="Enter email" class="border px-5 py-3 rounded-md">
    <button type="submit" class="p-3 text-cs_white px-5 py-3 rounded-md bg-ord_rdy ph ph-person">Add
      User</button>
    <button class="p-3 text-cs_white px-5 py-3 rounded-md bg-ord_pdg">Add User</button>
    <button class="p-3 text-cs_white px-5 py-3 rounded-md bg-ord_cld">Add User</button>
    <button class="p-3 text-cs_white px-5 py-3 rounded-md bg-ord_dlv">Add User</button>
    <button class="p-3 text-cs_white px-5 py-3 rounded-md bg-ord_trs">Add User</button>
    <button class="p-3 text-cs_white px-5 py-3 rounded-md bg-ord_plc">Add User</button>
  </form>

  <div id="users">
    {{ range .users }}
    {{ template "user_row" . }}
    {{ end }}
  </div>

</body>

</html>
