<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Point Of Sale</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Chivo:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/alpine.min.js" defer></script>
  <script src="/static/js/htmx.min.js" defer></script>
</head>

<body>
  <h1 class="text-2xl text-cs_color font-bold">POS Dashboard Test</h1>

  <form hx-post="/orders" hx-target="#orders" hx-swap="beforeend"
    class="mb-3 space-y-2 flex gap-2.5 items-center justify-between flex-nowrap">
    <input type="text" name="name" placeholder="Enter name" class="border px-5 py-3 rounded-md">
    <select name="type" id="type" class="border px-5 py-3 rounded-md">
      <option value="Takeaway">Takeaway</option>
      <option value="DineIn" selected>DineIn</option>
      <option value="Delivery">Delivery</option>
    </select>
    <select name="status" id="status" class="border px-5 py-3 rounded-md">
      <option value="Placed" selected>Placed</option>
      <option value="Pending">Pending</option>
      <option value="Canceled">Canceled</option>
      <option value="Ready">Ready</option>
      <option value="Delivered">Delivered</option>
      <option value="Taken">Taken</option>
      <option value="Served">Served</option>
    </select>
    <input type="number" name="items" placeholder="Enter number of items" class="border px-5 py-3 rounded-md">
    <input type="text" name="cost" placeholder="Enter total cost" class="border px-5 py-3 rounded-md">
    <button type="submit" class="p-3.5 text-cs_white px-5 py-3 rounded-md bg-cs_color">Add&nbsp;Order</button>
  </form>

  {{ template "order_row" . }}
</body>

</html>
