<tr>
  <td class="px-4 py-2 text-left text-base text-cs_black font-normal" class="px-4 py-2">{{ .Name }}</td>
  <td class="px-4 py-2 text-left text-base text-ord_rdy font-normal uppercase" class="px-4 py-2">{{ .Type }}
  </td>
  <td class="px-4 py-2 text-left text-base text-ord_dlv font-medium uppercase" class="px-4 py-2">{{ .Status }}
  </td>
  <td class="px-4 py-2 text-left text-base text-ord_plc font-normal" class="px-4 py-2">{{ .Items }}</td>
  <td class="px-4 py-2 text-left text-base text-ord_dnd font-bold" class="px-4 py-2">{{ .Cost }}</td>
</tr>
