<tr>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-normal">{{ .Name }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_dlv font-normal uppercase">{{ .Type }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_plc font-medium uppercase">{{ .Status }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_rdy font-normal">{{ .Items }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_rdy font-semibold">{{ .Cost }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_cld font-medium">{{ .CustName }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_cld font-bold">{{ .CustNumber }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_trs font-semibold">{{ .Destination }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_col font-semibold">{{ .DateTime }}</td>
</tr>
